* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #F89849;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: blue;
  margin: 20px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
    font-family: 'Alfa Slab One', cursive;

}

.title span {
  color:white;
}

.update-bar {
  display: flex;
  color:#F89849;
  margin-top: 0;
  font-size: 20px;
  font-weight: lighter;
  justify-content: space-between;
  width: 400px;
  height: 30px; 
  font-family: 'Alfa Slab One';
  font-weight:bold;

 
}

.status span {
  color: #21e221;;
}

.status .winner {
  color: #F90103;
}

.reset {
  cursor: pointer;
   
}

.reset:hover {
  color: blue;
  font-size: 24px;
  font-weight: 300;
  
  transition:10sms;
  transform-origin:bottom;
}

.game-grid {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.game-cell {
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.x,
.o {
  cursor: default;
}


.x::after {
  content: '×';
  font-size: 200px;
}

.o::after {
  content: '○';
  color: #21e221;
  font-size: 205px;
  align-items: center;
  justify-content: center;
}

.won::after {
  transition: 7ms;
  transform-origin: center;
  font-size: 270px;
 

}