* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  width: 700px;
  background-color: #c6e229;
  font-size: larger;
  font-weight: 700;
  
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: auto;
  z-index: 0;
    
}

.title {
  margin: 5%;
}

.update {
  display: inline-flex;
  width: 100%;
  font-size: 20px;
  justify-content: space-around;
  border: 60px;
}

.reset {
  cursor: pointer;
} 

.reset :hover {
  color:aqua;
}

.game-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  height: 650px;
  width: 650px;
  margin: 5% 25%;
  background-color: blue;
  z-index: 1;
  

}

.game-cell {
  
  background-color: #c6e229;
  z-index: 5;
  
  
}